body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 36px;
}

p {
  margin: 0;
}

#dynamic-text {
  font-size: 24px;
  margin-bottom: 20px;
}

section {
  padding: 20px;
}

.project-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-icons a {
  margin: 0 10px;
  color: #333;
  text-decoration: none;
}

.social-icons a:hover {
  color: #666;
}
